<!DOCTYPE html>
<html>
<head>
  <title>SampleProjectRails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <nav class="bg-blue-500 text-white p-4">
    <!-- Add your navigation menu items here -->
  </nav>
  <%= yield %>
</body>
</html>
